.circle {
    position: relative;
    border-radius: 50%;
    width: 64.44683136412459vh;

    height: 100vh;


    &__box{
        position: absolute;
        border-radius: 50%;
        border: 1px solid black;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        transform: rotate(calc(60deg * var(--i) - 30deg));
        transform-origin:360px ;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding: 2rem;
    }
    &__menu{
        position: relative;
        left: -50%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;        
    }
    }
.maincircle{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;

}
.box__div1{
    transform: rotate(330deg);
}
.box__div2{
    transform: rotate(270deg);
}
.box__div3{
    transform: rotate(210deg);
}
.box__div4{
    transform: rotate(150deg);
}
.box__div5{
    transform: rotate(90deg);
}
.box__div6{
    transform: rotate(30deg);
}

/*Circle responsivity*/

@media only screen and (max-width: 700px){
    .box__div1{
        transform: none;
    }
    .box__div2{
        transform: none;
    }
    .box__div3{
        transform: none;
    }
    .box__div4{
        transform: none;
    }
    .box__div5{
        transform: none;
    }
    .box__div6{
        transform: none;
    }
    
    .paragraph{
        transform: none;
    }
    .circle {
        position: unset;
        border-radius: 50%;
        height: unset;
        min-height: 64.44683136412459vh;

    
    
        &__box{
            position: unset;
            border-radius: 50%;
            border: 1px solid black;
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            transform: none;
            transform-origin:none;
            margin: 1rem;

        }
        &__menu{
            position: unset;
            left: -50%;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;        
            flex-wrap: wrap;
            flex-direction: row;
        }
        }
.maincircle{
    justify-content: center;
    align-items: unset;
    flex-wrap: wrap;
    flex-direction: row;
    
}
}

