@use "variables" as v;

.content
{
    max-width: 1296px;
    margin: 0 auto;
    max-width: 1296px;
    margin: 0 auto;
}

.nadpis
{
    font-family: v.$fontTitle;
    color: v.$primary;
}

.pismo
{
    font-family: v.$fontFamily;
    color: v.$secondary;
}