@use "variables" as v;

.content
{
width: 80%;
margin: 0 auto;

}

.nadpis
{
    font-family: v.$fontTitle;
    color: v.$primary;
    font-size: 5rem;
}

.pismo
{
    font-family: v.$fontFamily;
    color: v.$secondary;
    font-size: 2rem;
}
@media only screen and (max-width: 800px) {
    .content
    {
    width: 100%;
    margin: 0 auto;
    }
}