@use "variables" as v;

.footer{
    border-radius: 0px;
    background-color: v.$black;
    color: v.$white;
    

    &__name
    {
        font-size: 3rem;
        font-family: v.$fontTitle;

    }

    &__icon
    {
        font-size: 3rem;
        margin: 1rem;
    }

    &__prava
    {
        font-size: 2rem;
    }
}
.socials{

}
.footer__flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer__width{
    width: 80%;
    margin: 0 auto;

}