@use "variables" as v;

.footer{
    border-radius: 0px;
    background-color: v.$black;
    color: v.$white;
    height: 17vh;
    

    &__name
    {
        font-size: 3rem;
        font-family: v.$fontTitle;

    }

    &__icon
    {
        font-size: 3rem;
        margin: 1rem;
    }

    &__prava
    {
        font-size: 2rem;
        margin: 0rem;
    }
    &__width{
        width: 60%;
        margin: 0 auto;
    
    }
}
.socials{

}
.footer__flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

h3{
    font-family: v.$fontTitle;
    margin-top: 2rem;

}