.instagram
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    &__blok
    {
        margin: 5rem;
        border: 1px solid black;
        aspect-ratio: 1/1;
    }
}

@media only screen and (max-width: 768px)
{
    .instagram
    {
        flex-direction: column;
    }
}