@use 'variables' as v;

.klimahodiny
{
    border: 2px solid v.$secondary;
    background-color: v.$third;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    //width: 50rem;

    &__hodiny
    {
        font-size: 6rem;
        color: v.$secondary;
        font-family: v.$fontFamily;
    }
    
    &__citat
    {
        //border: 1px solid black;
    }

    &__podpisy
    {
        //border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }
}

.popis
{
    color: v.$fourth;
}

.podpis
{
    color: v.$secondary;
}

.citat
{
    font-family: v.$fontTitle;
    font-size: 5rem;
    text-align: center;
    color: v.$secondary;
}

.mainKlimahodiny
{
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 768px)
{
    .mainKlimahodiny
    {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .klimahodiny
    {
        margin-bottom: 2rem;
    }
}