@use 'variables' as v;

.navbar
{
    border-radius: 0px;
    background-color: v.$black;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo
    {
        width: 15rem;
    }

    &__icon
    {
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    &__name
    {
        color: v.$white;
        font-size: 2rem;
    }
}
