@use 'variables' as v;

.splide1
{
    margin-bottom: 5rem;
    text-align: center;

    &__list
    {
        width: 100%;
    }

    &__track
    {
        width: 100%;
    }

    &__slide
    {
        height: 25rem;
        width: 15rem;
    }

    &__box
    {
        margin-top: 1rem;
        margin-left: 25%;
        width: 20rem;
        height: 20rem;
        border: 2px solid v.$black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondary;
        font-size: 2rem;
    }

    &__box:hover
    {
        cursor: pointer;
    }
}