@use 'variables' as v;

.splide
{
    background-color: v.$primary;
    margin-bottom: 5rem;
    text-align: center;

    &__list
    {
        width: 33.333%;
    }

    &__track
    {
        width: 100%;
    }

    &__slide
    {
        background-color: v.$secondary;
        height: 25rem;
        width: 15rem;
    }

    &__box
    {
        margin-top: 1rem;
        margin-left: 25%;
        width: 20rem;
        height: 20rem;
        border: 1px solid v.$black;
        text-align: center;
    }
}