$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$primary: rgb(0, 91, 140);
$secondary: rgb(80, 141, 194);
$third: rgb(214, 244, 255);
$fourth: rgb(226, 158, 33);


$title--size: 2rem;

/*Fonts*/

@font-face {
    font-family: berbasneue_regular;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}